@charset "utf-8";

#wrap{min-height:96%;position:relative;text-align:center;	}
#container{padding-bottom:10px;min-height:320px; background:url(../images/mobile/back_patten.png);	}
#footer{width:100%;text-align:center;word-break:break-all;} 
#header{width:100%;text-align: center;background:#f3f3f5;}
#header .logo{height:43px;display:block;padding:0px 0 0px 15px;text-align:left;vertical-align:top;
background-image: linear-gradient(bottom, #e5e6e9 1%, #fff 100%);
background-image: -o-linear-gradient(bottom, #e5e6e9 1%, #fff 100%);
background-image: -moz-linear-gradient(bottom, #e5e6e9 1%, #fff 100%);
background-image: -webkit-linear-gradient(bottom, #e5e6e9 1%, #fff 100%);
background-image: -ms-linear-gradient(bottom, #e5e6e9 1%, #fff 100%);
}
#header .logo .title{display:inline-block;color:#2f383e;;text-align:left;font-weight:bold;font-size:16px;vertical-align:top;padding:18px 0 0 0;letter-spacing:-1px;	}
.logo_img{padding:0 0 7px 0;dispinput_txtlay:inline-block;vertical-align:super;}
.logo_sk{margin:5px 3px 0 0;}
.logo_kt{margin:9px 3px 0 0;}
.logo_lg{margin:8px 5px 0 0;}

#header .logo em{position: absolute;top:14px;right:10px;display: inline-block;color:#adb2b9;font-weight:bold;font-size:12px;letter-spacing:-1px;}

#gnb{height:31px;width:100%;text-align:center;color:#fff;border-top:2px solid #2e3d4e;}
#gnb .tab {overflow: hidden; position: relative;display:inline-block;width:100%;	}
#gnb .tab li { display: block;float: left;position: relative;width:33%;}
#gnb .tab li:first-child{display: block;float: left;position: relative;width:34%;}
#gnb .tab li a {color: #a8adb8;display: block;font-size: 13px;font-weight: bold;height: 23px;letter-spacing: -1px;overflow: hidden; padding: 8px 0 0;text-align: center;border-right:1px solid #4b4e57;border-left:1px solid #848c95;}
#gnb .tab li:first-child a {border-left:0px solid #848c95;}
#gnb .tab li:last-child a {border-right:0px solid #4b4e57;}
#gnb .tab li .nline{border-left:0px solid #33373c;}
#gnb .tab li.on { position: relative;z-index: 999;}
#gnb .tab li.on a {text-align:center;font-weight:bold;}
#gnb.tab_bg{background:#656f7b;}
#gnb.tab_bg .tab li.on a {color:#fff;	background:url(../images/mobile/icon_bg_tabon.png) no-repeat center bottom #4263b7;background-size:12px 5px;}

.spot{padding: 0;}

.join_area{
	position:relative;
	width:90%;
	padding:0px 0px 0px 0px;
	
	margin:10px auto 15px auto;
}
.join_area2{click_area
	position:relative;
	width:94%;
	
	padding:0px 0px 5px 0px;
	
	margin:0 auto 10px auto;
}
.join_area_bg{
	background:#ababab;
	border:1px solid #ababad;
	-webkit-box-shadow: inset 0px 3px 2px 0px #9d9d9d;
    box-shadow: inset 0px 3px 2px 0px #9d9d9d;
}
.join_area_p1{
	-webkit-box-shadow:  0px 3px 0px 0px #d1d1d1;       
     box-shadow:  0px 3px 0px 0px #d1d1d1;
}
.agree_guide{ display:block; top:-16px; left:11px;}

.form_check{
	display:inline-block;
	margin:0 0 0 29px;
	min-width:80%;
}

.input_txt {
	display:inline-block;
    background: #f2f2f2;
    border-color: #a8a8a8;
    border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    
    color: #3A3D3F;
    font-family: "돋움",Dotum;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
	width:50%;
    line-height: 28px;
    padding: 0 5px;
	text-align:left;
}

.check {
    color: #3A3D3F;
    font-size: 14px;
    font-weight: bold;
	letter-spacing:-1px;
	text-align:center;
	padding:1px 4px 4px 15px;
	text-decoration:underline;
}

.check span{
	background:url(../images/mobile/che_pns_join.png) no-repeat -23px 0;
	background-size:50px 21px;
    display: inline-block;
    height: 21px;
    vertical-align: middle;
    width: 21px;
}
.check span.on{
    background:url(../images/mobile/che_pns_join.png) no-repeat 0px 0px;
	background-size:50px 21px;
}
.check button {
    display: block;
    height: 21px;
    overflow: visible;
    width: 21px;
}
.check_bg label {
    color: #6e7689;
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}
.check label {
    color: #596572;
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}
.check label a{
    color: #6e7689;
    display: inline-block;
    margin-left:0px;
    vertical-align: middle;
}
.check .view {
    color: #a0a4b0;
    float: right;
    margin: 4px 3px 0 0;
}
.check_s {color: #a6a6a6; font-size: 12px;font-weight: normal;letter-spacing:-1px;text-align:left;padding:1px 4px 4px 4px;}
.check_s span{ cursor:pointer;background:url(../images/mobile/che_pns_join_s.png) no-repeat -23px 0;background-size:50px 21px;display: inline-block;height:10px;vertical-align: middle; width: 10px;}
.check_s span.on{ background:url(../images/mobile/che_pns_join_s.png) no-repeat 0px 0px;background-size:50px 21px;}
.check_s label { color: #a3a8b4;cursor: pointer;display: inline-block;margin: 0px 7px 0 2px;vertical-align: middle;letter-spacing:-1px;}
.check_s_bg label { color: #72727a;cursor: pointer;display: inline-block;margin: 0px 7px 0 2px;vertical-align: middle;letter-spacing:-1px;}
.check_s button{display: block;height: 11px;overflow: visible;width: 11px;}

.mAgree{ display:block; margin:2px auto 4px auto;zoom:1; text-align:left; pns_promotion/:1px solid #d5d8db; padding:0 0 8px 0;
-webkit-box-shadow: 0 1px 0 0 #fcfcfc;
box-shadow: 0 1px 0 0 #fcfcfc;}
.mAgree2{ display:block; margin:0px auto 0px auto;zoom:1; text-align:center; pns_promotion/:1px solid #fff; padding:0 0 8px 0;
}



.mAgree:after{ display:block; content:""; clear:both;}
.mAgree p{ display:inline-block; margin:0 0 0px 0; float:left;}
.mAgree p:last-child{ float:right;}

.mAgree2:after{ display:block; content:""; clear:both;}
.mAgree2 p{ display:inline-block; margin:0 0 0px 0; float:center;}
.mAgree2 p:last-child{ float:center;}


.line_gw {
    pns_promotion/: 1px solid #FFFFFF;
    border-top: 1px solid #bec1c8;
    display: block;
    height: 0;
}
.click_area{
	padding:0px 0 0px;
	text-align:center;
}

.click_area .guide{
	display:block;
	font-size:12px;
	color:#a3a8b4;
	margin:7px 0 7px 0;
	letter-spacing:-1px;
}
.click_area .guide .c{ color:#505257;
}
.click_area .guide strong{
	display:block;
	font-size:12px;
	color:#a3a8b4;
	margin:7px 0 7px 0;
	letter-spacing:-1px;
}
.click_area .guide_bg{
	display:block;
	font-size:12px;
	color:#555555;
	margin:7px 0 7px 0;
	letter-spacing:-1px;
}
@media (max-width: 320px) {
.click_area .guide{
	font-size:11px;
}
}
.secBlock{
	display:block;
}
.btn_pad{
	padding-left:5px;
}

.bbasic button{
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align: center;
	
	
	background: #454545;
	
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	display: block;
	padding: 14px 0px 13px 0;
	width: 65%;
	margin:0 auto;
}

.img_info{
	display:block;
	padding:25px 0 15px 0;
	width:100%;
}


/*약관스타일수정20140221*/
#wrapPop{ background:#fbfbfb;}
#wrapPop #headPop{ position:relative;height:24px;width:100%;background:#484f59;pns_promotion/:1px solid #12161a;padding:8px 0 0 0;}
#wrapPop #headPop .title{display:inline-block;text-align:left;width:80%;color:#fff;font-size:13px;font-weight:bold;vertical-align:top;padding:2px 0 0 10px; letter-spacing:-1px;}
#wrapPop #headPop .close{ position:absolute; right:10px; top:8px;display:inline-block;text-align:right;height:25px;font-size:18px;font-weight:bold; padding:0 0 0 0;}
#wrapPop #headPop .close a{display:inline-block;width:15px;height:25px;color:#fff;margin:0px 0 2px 0; text-align:center;}
#wrapPop #contentPop{width:100%;height:auto;overflow-x:hidden;overflow-y:scroll;clear:both;	*zoom:1;padding:10px 0; text-align:center;}
#wrapPop #contentPop:after{content:""; display:block; clear:both;}
#wrapPop #contentPop .textarea_st{width:94%;word-wrap: break-word; background:#fbfbfb; font-family:dotum,tahoma; font-size:12px; margin:0 5px; border:0px solid #eee; padding:5px; line-height:16px; text-align:left;}
#wrapPop #contentPop h3{ font-size:13px; font-weight:bold; text-align:left; padding:15px 0 0 10px;}

.fselec_area{
	padding:0px 0px 0px 0px;
	margin:0 auto 0px auto;
	text-align:left;
}
.fselec_areaP1{
	width:100%;
	padding:5px 0;
}
.basic_input3{
	position:relative;
	width:100%;
	display:block;
	margin:5px 0 5px 0;
	text-align:center;
}
.section3c{
	position:relative;
	display:block;
	margin:0 0 0 10px;
}
.section3c p{
	margin:0 102px 0 75px;
}
.section3c label{
	text-align:right;
	width:65px;
	position:absolute;
	top:0px;
	left:0px;
	float:left;
	vertical-align:middle;
	display:inline-block;
	padding:10px 0;
}
.gbasic button {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	text-align: center;
	
	background: #9097a0;
	background-image: linear-gradient(bottom, #9097a0);
	background-image: -o-linear-gradient(bottom, #9097a0);
	background-image: -moz-linear-gradient(bottom, #9097a0);
	background-image: -webkit-linear-gradient(bottom, #9097a0);
	background-image: -ms-linear-gradient(bottom, #9097a0);
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	display: inline-block;
	padding: 12px 0px;
	min-width: 30%;
	margin:0 auto;
}
.gbasicV2 button {
	font-size: 16px;
	min-width: 32%;
}
.gbasicV3 {
	position:absolute;
	top:0px;
	right:13px;
}
.gbasicV3 button {
	font-size: 12px;
	min-width: 50px;;
	padding: 8px 5px;
	margin:0 0 0 10px;
}
.input_txt {
	display:inline-block;
    background: #fff;
    border-color: #a2a6b2;
    
    border-style: solid;
    border-width: 2px;
    
    color: #3A3D3F;
    font-family: "돋움",Dotum;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
	width:50%;
    line-height: 28px;
    padding: 0 5px;
	text-align:center;
}
.input_txt .textbox {
	background:#fff;
    border: 0 none;
    height: 25px;
	width:95%;
}
.input2Line{
	margin:0 90px 0 0;
}
.rd20{
	border-radius: 6px;}
.lsm{letter-spacing:-1px;
     font-weight:bold;
}
.color_b{color:#000000;}